@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato/Lato-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato/Lato-Bold.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Lato-Light";
  src: url("../fonts/Lato/Lato-Light.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
font-family: 'Gotham-Black';
font-style: normal;
font-weight: normal;
src: local('Gotham Black'), url('../fonts/Gotham Black Regular.woff') format('woff');
}
html {
  font-size: 14px;
}
body {
  text-align: center;
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1170px;
  margin: auto;
}
a {
  width: fit-content;
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Gotham-Black";
  font-size: 2.1rem;
}
h2 {
  font-family: "Lato-Bold";
}
input::-webkit-input-placeholder {
  font-family: "OpenSans-Regular";
  color: #a9a9a9;
}
h1 + p {
  margin-left: 10px;
  margin-right: 10px;
}

/*start heder*/
.header {
  padding: 19px 0;
}
.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu label,.menu .toggle {
  font-family: "Lato-Regular";
  display: none;
  padding: 12px 20px;
  color: #868686;
}
.menu label:hover {
  cursor: pointer;
  background: #ffbb42;
  color: #ffffff;
}
.menu li {
  font-family: "Lato-Regular";
  display: inline-block;
  list-style-type: none;
  margin: auto;
  flex-wrap: wrap;
}
.menu a {
  display: block;
  padding: 12px 20px;
  color: #868686;
}
.menu a:hover {
  background: #ffbb42;
  color: #ffffff;
}
ul {
  padding-left: 0;
}




/*start banner*/
.banner {
  background: url("../img/фон.jpg")/*#709dca*/;
  background-repeat: no-repeat;
  background-size: 100% 91%;
  background-position: center top;
  color: white;
  padding-top: 83px;
}
.banner h1 {
  font-size: 2.5em;

}
.banner h1 + p{
  font-family: "OpenSans-Light";
}
.formBanner {
  margin: 30px 0;
}
.formBanner form, .formNewsletter form{  /*for Banner and Newsletter*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.fields {
  font-family: "OpenSans-Regular";
  background: white;
  width: 24%;
  min-width: 250px;
  margin: 0 5px;
  display: flex;
  align-items: center;
  padding: 14px 0;
}
.fields input {
  outline: none;
  border: none;
  background: transparent;
}
.fields img {
  display: block;
  margin: 0 15px;
}
.submit {
  border: none;
  display: block;
  background: #ffbb42;
  text-transform: uppercase;
  padding: 15px 43px;
  margin-left: 5px;
  color: #ffffff;
}
.laptop {
  margin-top: 30px;
}




/*start services*/
.services {
  padding-top: 100px;
  padding-bottom: 100px;
}
.services h1 + p{
  font-family: "OpenSans-Regular";
  margin-top: 0;
  margin-bottom: 100px;
}
.infoAboutService {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  align-content:space-between;
}
.service {
  font-family: "OpenSans-Regular";
  box-sizing: border-box;
  width: 48%;
  display: flex;
  justify-content:space-around;
  margin-bottom: 50px;
}
.service-text {
  width: 83%;
  text-align: left;
}
.service img {
  display: block;
  width: 43px;
  height: 43px;
}
.service h2 {
  font-family: "Lato-Bold";
  margin-top: 0;
}



/*start aboutUs*/
.aboutUs {
  background: #ffc155;
  background-image: url("../img/about-us.jpg");
  background-size: 50% 100%;
  background-position:left;
  background-repeat: no-repeat;
  padding: 11vw 0;
}
.aboutUs > .container {
  display: flex;
  justify-content:flex-end;
}
.aboutUsText h1 {
  font-family:;
}
.aboutUsText {
  font-family: "OpenSans-Regular";
  text-align: left;
  margin: 0;
  padding-left: 80px;
  max-width: 585px;
  width: 50%;
  color: white;
  box-sizing: border-box;
}
.aboutUs a {
  font-family: "Lato-Regular";
  padding: 17px 32px;
  margin-top: 36px;
  color: white;
  border: 1px solid #e7ad48;
}




/*start choosYrPricing*/
.pricingTable {
  background: #e7edf3;
  padding: 100px 0;
}
.pricingTable h1 + p {
  font-family: "Lato-Light";
  margin-top: 0;
  margin-bottom: 30px;
}
.cost-plan-symbol {
  font-family: "Lato-Bold";
  color: #ffc155;
  font-size: 3rem;
}
.cost-plan {
  font-family: "Lato-Bold";
  font-size: 4.2rem;
  color: #ffc155;
}
.plan h2 + p{
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}
.plan p + p {
  margin-top: 0;
}
.plans {
  font-family: "Lato-Regular";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.plan {
  min-width: 300px;
  margin: 30px 0;
  background: white;
  padding: 47px 0;
  width: 33%;
  box-sizing: border-box;
  border: 2px solid #ccd5df;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.plan:hover {
  margin: 0;
  padding: 77px 0;
  background: #709dca;
  border-color: #709dca;
  color: white;
}
.plan:hover span {
  color: white;
}
.plan div {
  border-top: 2px solid #ccd5df;
  margin: 0 30px
}
.plan a {
  font-family: "Lato-Regular";
  display: block;
  margin: 0 auto;
  padding: 16px 21px;
  margin-top: 36px;
  color: white;
  background: #ffc155;
  border: 1px solid #e7ad48;
}



/*howItWork*/
.howItWork {
  padding: 100px 0;
}
.stepsWork {
  display: flex;
  justify-content: center;
  align-items: center;
}
.howItWork h1 + p {
  font-family: "Lato-Light";
  font-size: 1.3rem;
  margin-top: 0;
}
.stepsWork > img {
  width: 129px;
  height: 33px;
  display: block;
  margin: 0 -30px;
}
.arrow {
  align-self: flex-start;
}
.arrow2 {
  padding-top: 100px;
}
.step {
  font-family: "OpenSans-Regular";
  max-width: 230px;
  padding-top: 30px;
}
.step h2 {
  font-family: "Lato-Bold";
  font-size: 1.5rem;
  margin-top: 80px;
}
.step img {
  display: block;
  height: 70px;
  width: auto;
  margin: 0 auto;
}
.howItWork a {
  font-family: "Lato-Regular";
  display: block;
  margin: 0 auto;
  padding: 16px 21px;
  margin-top: 36px;
  color: white;
  background: #ffc155;
  border: 1px solid #e7ad48;
}


/*start happyClients*/
.happyClients {
  padding-top: 75px;
  background: #ffc155;
  color: white;
  padding-bottom: 140px;
}
.happyClients h1 + P {
  font-size: 1.2rem;
  font-family: "OpenSans-Regular";

}
.happyClients p {
  font-size: 1.2em;
  margin-top: 0;
}
.quotes {
  color: #c2c2c2;
  font-size: 2em;
}
.clouse-quotes{

}
.textReview p:first-child {
  font-family: "Lato-Regular";
  margin-bottom: 0;
}
.textReview p:last-child {
  font-family: "OpenSans-Regular";
}
.clouse-quotes {
  margin-left: 50%;
}
.reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.review {
  color: #7b7b7b;
  font-size: 0.9em;
  background: white;
  text-align: left;
  width: 48.5%;
  min-width: 560px;
  padding: 43px 30px 50px 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.photoClients {
  overflow: hidden;
  width: 120px;
  height: 120px;
  border: 0px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  flex-grow: 1;
}
.photoClients img {
  width: 100%;
  height: 100%;
}
.textReview {
  margin-left: 14px;
  flex-grow: 3;
  flex-shrink: 10000;
}
.textReview p > span {
  color: #f6772c;
}
.textReview p {
  color: #99a9ae;
}




/*newsletter*/
.newsletter {
  padding-bottom: 50px;
  padding-top: 100px;
}
.newsletter h1 + p {
  font-size: 1.2rem;
  font-family: "OpenSans-Light";
}
.fieldNews {
  box-sizing: border-box;
  border: 1px solid #cbcbcb;
  border-radius: 2px;
}
.subscribe {
  font-family: "Lato-Regular";
}
.newsletter p{
  margin-top: 0;
}




/*ContactInfo*/
.ContactInfo > .container {
  height: 550px;
  background: url("../img/map.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.circle {
  margin-top: 40px;
  width: 280px;
  height: 280px;
  background: #394b50;
  border: 0 solid white;
  border-radius: 50%;
  color: #aeb7ba;
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.8;
}
.circle h2 {
  font-size: 1.2em;
  color: #ffffff;
  margin-bottom: 0;
}
.circle p {
  font-family: "OpenSans-Regular";
}
.circle span {
  color: #ffbb42;
}
.pointer {
  border: 9px solid transparent;
  margin-top: -2px;
  border-top: 16px solid #394b50;

}


/*footer*/
.footer {
  font-family: "Lato-Regular";
}
.menuFooter {
  padding-top: 30px;
  border-top: 2px solid #e3e7ec;
  margin-top: 57px;
}
.contactPhone {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}
.contactPhone img {
  display: block;
  padding-right: 5px;
}
.socialMedia {
  margin-bottom: 35px;
}
.socialMedia img {
  padding: 0 5px;
}
.copyright {
  font-family: "OpenSans-Regular";
  padding: 1px 0;
  background: #709dca;
  color: white;
}
@media (max-width: 1170px) {
  .aboutUs {
    padding: 4vw 0;
  }
  .aboutUsText{
    margin-right: 30px;
  }
}
@media (max-width: 1140px) {
  .reviews {
    justify-content: center;
  }
  .review {
    min-width: inherit;
    width: 90%;
  }
}
@media (max-width: 1030px){
  .fields {
    margin-bottom: 10px;
  }
  .submit {
    margin: 0;
    padding: 15px 61px;
    margin-bottom: 10px;
  }

}
@media (max-width: 950px) {
  .stepsWork > img  {
    display: none ;
  }
  .step {
    width: 140px;
  }
  .step h2 {
    margin-top: 20px;
  }
  .stepsWork {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .service-text h2 {
    height: 50px
  }
}
@media (max-width: 920px) {
  [id^=drop]:checked + ul {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header > .container {
    flex-direction: column;
  }
  .header  li {
    width: 100%;
  }
  .header  ul {
    display: none;
  }
  .header  label {
    display: block;
  }
  .menuHeader a {
    margin: 0 auto;
  }

}
@media (max-width: 800px) {
  .formBanner {
    max-width: 470px;
  }
  .banner > .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 780px) {
  .ContactInfo > .container {
    height: 400px;
  }
  .menuFooter {
    margin-top: 13px
  }
  .circle {
    margin-top: 15px;
  }
  .service {
    width: 100%;
  }
  .service-text h2 {
    height: 25px
  }
  /*service*/
  .aboutUs {
    background-size: 100% 50%;
    background-position: top;
  }
  .aboutUs > .container {
    justify-content: center;
  }
  .aboutUsText {
    text-align: center;
    padding-left: 0;
    width: 250px;
    margin-right: 0;
    margin-top: 430px;
  }
  .aboutUs a {
    margin: 0 auto;
  }
}
@media (max-width: 700px) {
  .laptop {
    display: block;;
    width: 80%;
  }
}
@media (max-width: 650px) {
  .step {
    width: 45%;
  }
}
@media (max-width: 555px) {
  .review {
    flex-direction: column;
  }
  .photoClients {
    align-self: center;
  }
  .formNewsletter form {
    width: 260px;
  }
  .formNewsletter {
    display: flex;
    justify-content: center;
  }
  .subscribe {
    padding: 15px 71px;
  }
  .aboutUsText {
    margin-top: 400px;
  }
}
@media (max-width: 450px) {
  .service {
    flex-direction: column;
    align-items: center;
  }
  .service-text {
    text-align: center;
  }
  .service-text h2 {
    height: 50px;
    margin-top: 10px;
  }
  .aboutUsText {
    margin-top: 370px;
  }
}
@media (max-width: 420px) {
  .aboutUsText {
    margin-top: 360px;
  }
}
@media (max-width: 400px) {
  .step {
    width: 90%;
  }
  .aboutUs {
    background-size: 100% 40%;
  }
  .aboutUsText {
    margin-top: 260px;
  }
}
